@tailwind base;
@tailwind components;
@tailwind utilities;
/* ================= GLOBAL ================= */
body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  background: #f8f9fa;
  color: #111;
}
